/* --------------------------------

xPage title

-------------------------------- */

$color-1: #4281a4; // Cornflower Blue - Action color
$color-2: #48a9a6; // Turquoise
$color-3: #e4dfda; // Light Beige
$color-4: #d4b483; // Goldenrod
$color-5: #c1666b; // Red

main > h1 {
    color: $color-3;
}

main > h1 {
  color: $color-3;
}

h3 {
    color: $color-3;
}

.summary {
    background-color: $color-1;
    margin: 0px;
}

.preamble {
    background-color: $color-2;
    
}

.explanation {
    background-color: $color-5;
   
}

.participation {
    background-color: $color-1;

}

.benefits {
    background-color: $color-2;

}

.requirements {
    background-color: $color-5;
}

div[role=article] {
    padding: 10px;
}

.preamble, .explanation, .participation, .benefits, .requirements {
    margin: 10px;
}




@media only screen and (min-width: 700px) {
    
    header{
    max-width: 400px;
    height: 100%;
}
    
    
    
}